.section {
    background-image: url("/images/variedad/fondo-variedad.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left top;
    height: 700px;
    width: 100%;
    position: relative;
    background-color: black;
}

.humo {
    position: absolute;
    top: -300px;
    z-index: 1;
    width: 100%;
    mix-blend-mode: screen;
    overflow: hidden;
}

.humo img {
    width: 100%;
    height: 100%;
    animation: humo 40s linear infinite;
    /* manipulate the speed of the marquee by changing "40s" line above*/
}

.contentList {
    position: absolute;
    flex-direction: column;
    margin-top: 50px;
    padding-left: 180px;
}
.contentList p{
    font-size: 24px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    max-width: 400px;
    width: 100%;
}


@keyframes humo {
    from {
        transform: translateX(-50%);
        opacity: 1;
    }
    to {
        transform: translateX(0%);
        opacity: 0.5;
    }
}


.content .title h2 {
    margin: 0;
    font-size: 160px;
    line-height: 150px;
    color: #ffffff;
    text-shadow: 0 0 10px #fbdd78;
    max-width: 800px;
    width: 100%;
}

.content .title::before {
    content: "variedad de esencias";
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(251, 221, 120, 0.24);
    position: absolute;
    font-size: 240px;
    overflow: hidden;
    line-height: 220px;
    left: -200px;
    top: -60px;
    letter-spacing: 3px;
    color: transparent;
    width: 1000px;
}

/* TITLE IN ENGLISH */
.content .title2 h2 {
    margin: 0;
    font-size: 160px;
    line-height: 150px;
    color: #ffffff;
    text-shadow: 0 0 10px #fbdd78;
    max-width: 800px;
    width: 100%;
}

.content .title2::before {
    content: "Variety of essences";
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(251, 221, 120, 0.24);
    position: absolute;
    font-size: 240px;
    overflow: hidden;
    line-height: 220px;
    left: -200px;
    top: -60px;
    letter-spacing: 3px;
    color: transparent;
    width: 1000px;
}

.content {
    position: absolute;
    right: 0;
    height: 100%;
    z-index: 1;
}

.flavors{
    display: grid;
    grid-template-columns: 300px;
    padding-left: 20px;
}

.label {
    margin-top: 100px;
    font-size: 18px;
    color: #ffffff;
    max-width: 550px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}




.content a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #A4581B 0%, #FBDD78 51%, #A4581B 100%);
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    font-size: 18px;
    font-weight: bold;
    width: 140px;
    height: 40px;
    border-radius: 30px;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 0 10px rgba(251, 221, 120, 0.66);
    border: none;
}

.content a:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

@media (max-width: 1453px) {
    .content .title h2 {
        font-size: 140px;
        line-height: 110px;
        width: 600px;
    }

    .content .title::before {
        font-size: 167px;
        line-height: 138px;
        left: -73px;
        top: -31px;
        width: 672px;
    }

    .content .title2 h2 {
        font-size: 140px;
        line-height: 110px;
        width: 600px;
    }

    .content .title2::before {
        font-size: 167px;
        line-height: 138px;
        left: -73px;
        top: -31px;
        width: 672px;
    }
}

@media (max-width: 1200px) {
    .content .title h2 {
        font-size: 110px;
    }

    .content .title::before {
        font-size: 140px;
        line-height: 127px;
        left: -73px;
        top: -20px;
        width: 573px;
    }

    .content .title2 h2 {
        font-size: 110px;
    }

    .content .title2::before {
        font-size: 140px;
        line-height: 127px;
        left: -73px;
        top: -20px;
        width: 573px;
    }

    .section {
        background-position: 40% 50%;
    }
}

@media (max-width: 767px) {
    .content {
        position: relative;
        padding: 0 40px;


    }
    .flavors{
        grid-template-columns: 200px 200px;
    }

    .content ul {
        grid-template-columns: 160px 160px;
    }

    .content .title h2 {
        font-size: 80px;
        line-height: 80px;
        max-width: 380px;
        width: 100%;
    }

    .content .title::before {
        font-size: 113px;
        line-height: 96px;
        top: -40px;
        width: 100%;
        display: flex;
        justify-content: center;
        left: 0;
    }

    .content .title2 h2 {
        font-size: 80px;
        line-height: 80px;
        max-width: 380px;
        width: 100%;
    }

    .content .title2::before {
        font-size: 113px;
        line-height: 96px;
        top: -40px;
        width: 100%;
        display: flex;
        justify-content: center;
        left: 0;
    }
}

@media (max-width: 534px) {
    .content .title h2 {
        font-size: 60px;
        line-height: 60px;
    }

    .content .title::before {
        font-size: 80px;
        line-height: 73px;
        top: -12px;
        width: 100%;
        display: flex;
        justify-content: center;
        left: 0;
    }

    .content .title2 h2 {
        font-size: 60px;
        line-height: 60px;
    }

    .content .title2::before {
        font-size: 80px;
        line-height: 73px;
        top: -12px;
        width: 100%;
        display: flex;
        justify-content: center;
        left: 0;
    }

    .contentList {
        position: absolute;
        flex-direction: column;
        margin-top: 50px;
        padding-left: 20px;
        margin: 0px 0px;
    }

    .section {
        background-image: url("/images/variedad/fondo-variedad.jpg");
        background-size:cover;
        background-repeat: no-repeat;
        background-position: 25% 15%;
        height: 50vh;
        width: 100%;
        position: relative;
        background-color: black;
    }

    .flavors{
        grid-template-columns:  150px;
    }

    .section .general .content{
        margin-top: 0vh;
        padding-top: 0vh;
    }
}
