.section {
    padding: 120px 40px;
    display: flex;
    gap: 170px;
    justify-content: center;
    justify-items: center;
    background-color: #000000;
    height: 1000px;
}

.general_1 {
    position: relative;
}

.general_1 .content_general .title h2 {
    font-size: 134px;
    color: #ffffff;
    letter-spacing: 5px;
    text-shadow: 0 0 8px #cf60d8;
}

.general_1 .content_general .title h2 span {
    color: #cf60d8;
}

.general_1 .content_general .title::before {
    content: "zona vip";
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(251, 221, 120, 0.24);
    position: absolute;
    font-size: 230px;
    left: -120px;
    white-space: nowrap;
    overflow: hidden;
    line-height: 190px;
    letter-spacing: 3px;
    color: transparent;
    width: 645px;
    border-right: 4px solid #ffffff;
    animation: animate 5s linear infinite;

}

@keyframes animate {
    0% {
        width: 0;
    }
    80% {
        width: 650px;
    }
    100% {
        width: 0;
    }
}

.content_general .content h3 {
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    margin: 0;
    text-shadow: 0 0 3px #fbdd78;
    width: 400px;
}

.content_general .content p {
    color: #ffffff;
    font-size: 18px;
    width: 400px;
    font-family: 'Montserrat', sans-serif;
}

.content_general .content a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #A4581B 0%, #FBDD78 51%, #A4581B 100%);
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    font-size: 20px;
    font-weight: bold;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 0 10px rgba(251, 221, 120, 0.66);
}

.content_general .content a:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.general_2 .card {
    height: 907px;
    box-shadow: 0 0 10px #cf60d8;
    border-radius: 20px;
    overflow: hidden;
    transition: 1s;
}

.general_2 .card:hover {
    box-shadow: 0 0 80px #cf60d8;
}

.general_2 .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1.5s;
}

.general_2 .card img:hover {
    transform: scale(1.1);
}

@media (max-width: 1383px) {
    .general_1 .content_general .title h2 {
        font-size: 100px;
        margin: 0;
    }

    .general_1 .content_general .title::before {
        font-size: 140px;
        left: -13px;
        width: 402px;
        line-height: 130px;
    }

    @keyframes animate {
        0% {
            width: 0;
        }
        80% {
            width: 409px;
        }
        100% {
            width: 0;
        }
    }

}

@media (max-width: 1200px) {
    .general_2 .card {
        height: auto;
        width: 450px;
    }

    .section {
        gap: 72px;
    }
}

@media (max-width: 991px) {
    .section {
        gap: 40px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .content_general .content p {
        width: 300px;
    }

    .general_2 .card {
        width: 100%;
    }

    .general_1 .content_general .title h2 {
        font-size: 80px;
        margin-bottom: 40px;
    }

    .general_1 .content_general .title::before {
        font-size: 120px;
        left: -13px;
        line-height: 130px;
    }

    @keyframes animate {
        0% {
            width: 0;
        }
        80% {
            width: 350px;
        }
        100% {
            width: 0;
        }
    }
}

@media (max-width: 767px) {
    .section {
        gap: 50px;
        display: grid;
        grid-template-columns: 1fr;
    }

    .general_1 {
        display: flex;
        justify-content: center;
    }

    .content_general {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .content_general .content h3 {
        width: 100%;
        text-align: center;
    }

    .general_1 .content_general .title::before {
        font-size: 120px;
        left: 96px;
        line-height: 130px;
    }

    .content_general .content p {
        max-width: 500px;
        width: 100%;
    }

    .general_2 .card {
        height: 500px;
        max-width: 500px;
        width: 100%;
    }

    .general_2 {
        max-width: 500px;
        width: 100%;
    }
}

@media (max-width: 600px) {
    .general_1 .content_general .title::before {
        font-size: 100px;
        left: auto;
        margin-left: -10px;
        line-height: 130px;
    }
    @keyframes animate {
        0% {
            width: 0;
        }
        80% {
            width: 300px;
        }
        100% {
            width: 0;
        }
    }
}

